{{#section 'head'}}
        <meta name="robots" content="noindex">
{{/section}}

<h1>Test Page</h1>
<p>Testando section script</p>

{{#section 'scripts'}}
    <script>
        document.querySelector('body')
        .insertAdjacentHTML('beforeEnd', '<small>(scripting works!)</small>')
    </script>
{{/section}}